################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/.vs/mRemoteNG/FileContentIndex
/.vs/mRemoteNG/v17
/.vs
/mRemoteNG/bin/x64
/mRemoteNG/obj
/ExternalConnectors/bin/x64
